<div ng-controller="loginCtrl">

    <div class="container">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="form-signin" role="form">
                <h2 class="form-signin-heading">Заполните данные:</h2>
                <label for="Surname">Фамилия</label>
                <input type="text" id="Surname" class="form-control" autofocus ng-model="person.Surname">
                <label for="Surname">Имя</label>
                <input type="text" id="FirstName" class="form-control" ng-model="person.Firstname">
                <label for="Surname">Отчество</label>
                <input type="text" id="Patronomyc" class="form-control" ng-model="person.Patronomyc">

                <br/>
                <br/>
                
                <a href="#/Exam" class="btn btn-lg btn-primary btn-block" role="button" ng-click="startexam()" ng-disabled="isNotFullName()">go exament</a>
                <!--<button href="../Exam/Index.html" class="btn btn-lg btn-primary btn-block" type="button" ng-click="startExam()" ng-disabled="isNotFullName()">Начать экзамен</button>-->
                
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div> <!-- /container -->



</div>